@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lexend+Deca&display=swap');

:root {
	--clr-very-dark-blue: hsl(233, 47%, 7%);
	--clr-dark-blue: hsl(244, 38%, 16%);
	--clr-soft-violet: hsl(277, 64%, 61%);
	--clr-white-normal: hsl(0, 0%, 100%);
	--clr-white-trans-light: hsla(0, 0%, 100%, 0.75);
	--clr-white-trans-lighter: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
h1,
h2 {
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-very-dark-blue);
}

.card {
	width: 80%;
	height: auto;
	background-color: #eee;
	border-radius: 10px;
	margin-bottom: 1rem;
	background-color: var(--clr-dark-blue);
}

.card-img {
	width: 100%;
	height: 200px;
	min-height: 33%;
	background-image: url('./images/image-header-mobile.jpg');
	background-size: cover;
	position: relative;
	border-radius: 10px 10px 0 0;
}

.card-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: inherit;
	height: auto;
	background-color: var(--clr-soft-violet);
	opacity: 0.8;
	border-radius: 10px 10px 0 0;
}
.card-content {
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
}
.card-content .accent {
	display: inline-block;
	color: var(--clr-soft-violet);
}

h1 {
	font-weight: 700;
	font-size: 22px;
	padding: 0 2rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	color: var(--clr-white-normal);
	font-family: 'Lexend Deca', sans-serif;
}

.description {
	line-height: 1.3;
	font-size: 16px;
	margin-bottom: 2rem;
	color: var(--clr-white-trans-light);
	font-family: 'Inter', sans-serif;
	font-weight: 100;
}

.card-state {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card-state-box {
	margin-bottom: 1rem;
}

.card-state-title {
	font-size: 18px;
	font-weight: 700;
	padding: 0.5rem;
	color: var(--clr-white-normal);
	font-family: 'Lexend Deca', sans-serif;
}

.card-state-description {
	text-transform: uppercase;
	font-size: 12px;
	color: var(--clr-white-trans-lighter);
	font-family: 'Inter', sans-serif;
	font-weight: 100;
}

.attribution {
	color: var(--clr-white-normal);
	font-family: 'Inter', sans-serif;
}

.attribution a,.attribution a:hover, .attribution a:active, .attribution a:visited {
	color: var(--clr-soft-violet);
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.card {
		display: flex;
		flex-direction: row-reverse;
	}

	.card-img {
		height: 100%;
		border-radius: 0 10px 10px 0;
	}

	.card-img::after {
		border-radius: 0 10px 10px 0;
	}

	.card-content {
		padding: 4rem 8rem 0 4rem;
		text-align: left;
	}

	h1 {
		padding: 0;
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}

	.description {
		margin-bottom: 4rem;
		font-size: 18px;
	}

	.card-state {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
	.card-state-title {
		font-size: 1.125rem;
	}
}
